@model List<File_Public.Models.VmFileNameAndExtension>
@inject IConfiguration _config;

@{
    string hostName = _config.GetValue<string>("HostInfo:HostName") ?? String.Empty;
}


<style>
    .copy-link-button:focus{
        outline: none;
        box-shadow: none;
    }

    .fa-copy:hover::before{
        content: "Copy Link";
        font-size: 10px;
    }
</style>

<h3 class="text-primary">Available files</h3>
<p class="text-info">To download the file click on it or use Download(.zip) button to download all of them</p>

<section class="row">
    <div class="col-md-7 col-12">
        <ul>
            @{
                foreach(var item in Model) {

                    string url = $"{hostName}/Home/GetFile?ClientId={item.ClientId}&DocName={item.DocName}&DocType={item.DocGroup}&DocExt={item.DocExt}&isin={item.Isin}&Language={item.Language}";
                    string fileName = $"{item.Isin}_{item.Language}_{item.DocGroup}.{item.DocExt}";
                                <li>
                                    <a href="@url" target="_blank"><i class="fa fa-download"></i>@fileName</a>
                                    <button class="btn copy-link-button" onclick="downlaodVm.copyLink(event)"><i class="fa-regular fa-copy"></i></button>
                                    <span class="text-info mt-2"></span>
                                </li>
                }
                if(Model.Count == 0) {
                      <p>No file available</p>
                }
              }
            
        </ul>
    </div>
    <div class="col-md-5 col-12">
        @if (Model.Count > 0) {
            <button class="btn btn-primary" onclick="downlaodVm.downloadAll()">Download(.zip)</button>
        }

    </div>
</section>

@section Scripts{
    <script>
        var downlaodVm = {
            url: '@hostName/Home/GetFiles',

            copyLink(e){
                const siblings = $(e.target).parent().siblings();
                const anchorTag = siblings.first();
                const info = siblings.last();
                const link = anchorTag.attr('href');
                navigator.clipboard.writeText(link)
                    .then(() => {
                        info.text('Link copied');
                        setTimeout(() => {
                            info.text('');
                        }, 500);
                    })
                    .catch(err => {
                        console.error('Failed to copy link: ', err);
                    });
            },

            downloadAll(){
                let first = true;
                const urlParams = new URLSearchParams(window.location.search);
                let params;
                for (let key of urlParams.keys()) {
                    if (urlParams.has(key)) {
                        if (first) {
                            first = false;
                            params = '?' + key + '=' +urlParams.get(key);
                            downlaodVm.url += params
                        } else {
                            params = '&' + key + '=' + urlParams.get(key);
                            downlaodVm.url += params
                        } 
                    }
                }
                const link = document.createElement('a');
                link.setAttribute('href', downlaodVm.url);
                link.setAttribute('target', '_blank');

                link.click();
            }
        }
    </script>
}